<div class="row">
    <div class="col-md-12">
        {% for animal in animals %}
        <div class="col-sm-12 col-md-6 notification" data-notification={{ animal.notification }}>
            <div class="thumbnail editSearch" data-notification={{ animal.notification }}>
                <img
                    src="{% if animal.imagePath %}{{ animal.imagePath }}{% else %}pictures/placeholder.png{% endif %}"
                    class="img-thumbnail" alt="barcode">
                <div class="caption">
                    <h4>{{ animal.creationDate }}</h4>
                    <h4>
                        {{ animal.name }} <span
                            class="glyphicon glyphicon-woman"
                            aria-hidden="true"></span>
                    </h4>
                    zuletzt gesehen am: {{ animal.lastSeen }}<br>
                    zuletzt gesehen in: {{ animal.location }} <span
                        class="glyphicon glyphicon-map-marker"
                        aria-hidden="true"></span> <br> Finderlohn:
                    {{ animal.reward }} <span
                        class="glyphicon glyphicon-euro"
                        aria-hidden="true"></span><br>
                        <img src="{{ animal.qrUrl }}" alt="barcode">
                </div>
                <hr>
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoRss" title="Rss"><i
                            class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="icoFacebook"
                        title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter"
                        title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle"
                        title="Google +"><i
                            class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin"
                        title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span
                        class="glyphicon glyphicon-remove-circle removeNotification"
                        aria-hidden="true"></span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="javascript/searchOverview.js"></script>
